.inner__wrapper {
  display: flex;
  gap: 16px;
}
.inner__book {
  width: 60%;
}
.inner-book__title {
  font-size: 32px;
}
.inner-book__author,
.inner-book__title {
  color: #032b41;
  margin-bottom: 16px;
  font-weight: 600;
}
.inner-book__sub--title {
  font-size: 20px;
  color: #032b41;
  margin-bottom: 16px;
  font-weight: 300;
}
.inner-book__secondary--title {
  font-size: 18px;
  color: #032b41;
  margin-bottom: 16px;
  font-weight: 600;
}

.inner-book--img-wrapper {
  width: 40%;
}

.inner-book__img {
  width: 100%;
}
.inner-book__wrapper {
  border-top: 1px solid #e1e7ea;
  border-bottom: 1px solid #e1e7ea;
  padding: 16px 0;
  margin-bottom: 24px;
}
.inner-book__read--btn-wrapper {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}
.inner-book__read--btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 144px;
  height: 48px;
  background-color: #032b41;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  gap: 8px;
  transition: opacity 0.2s;
}
.inner-book__read--btn:hover {
  opacity: 0.8;
}
.inner-book__read--icon {
  display: flex;
}
.inner-book__read--icon svg {
  height: 24px;
  width: 24px;
}
.inner-book__description--wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  row-gap: 12px;
}
.inner-book__description {
  display: flex;
  align-items: center;
  width: 50%;
  color: #032b41;
  font-weight: 500;
  font-size: 14px;
}
.inner-book__icon {
  display: flex;
  height: 24px;
  width: 24px;
  margin-right: 4px;
}
.inner-book__icon svg {
  width: 100%;
  height: 100%;
}
.inner__book--skeleton-img {
  display: flex;
  justify-content: center;
}
.inner-book__bookmark {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #0365f2;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 40px;
  font-size: 18px;
  transition: color 0.2s;
}

.save-book__btn {
  display: flex;
}

.inner-book__bookmark:hover {
  color: #044298;
}
.inner-book__bookmark--icon {
  display: flex;
  width: 20px;
  height: 20px;
}
.inner-book__bookmark--icon svg {
  width: 100%;
  height: 100%;
}
.inner-book__tags--wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 16px;
}
.inner-book__tag {
  background-color: #f1f6f4;
  padding: 0 16px;
  height: 48px;
  display: flex;
  align-items: center;
  cursor: not-allowed;
  color: #032b41;
  font-weight: 500;
  border-radius: 4px;
  transition: background-color 0.2s;
}
.inner-book__book--description {
  color: #032b41;
  margin-bottom: 16px;
  line-height: 1.5;
}
.inner-book__author--title {
  font-size: 18px;
  font-weight: 700;
  color: #032b41;
  margin-bottom: 8px;
}
.inner-book__author--description {
  color: #032b41;
  line-height: 1.5;
}
.inner__book--skeleton {
  display: flex;
  gap: 40px;
}
.inner__book--skeleton-content {
  width: 100%;
}

@media (max-width: 992px) {
  .inner__wrapper {
    flex-direction: column;
    gap: 32px;
  }
  .inner__book {
    order: 1;
  }
  .inner-book--img-wrapper {
    display: flex;
    justify-content: center;
  }
  .inner__book--skeleton {
    flex-direction: column;
  }
  .inner__book--skeleton-content {
    order: 1;
  }
}
@media (max-width: 768px) {
  .inner__wrapper {
    align-items: center;
  }

  .inner__book {
    width: 100%;
  }

  .inner-book__title {
    font-size: 24px;
  }
  .inner-book__sub--title {
    font-size: 18px;
  }
  .inner-book__author,
  .inner-book__author--description,
  .inner-book__book--description,
  .inner-book__tag {
    font-size: 14px;
  }
  .inner-book__bookmark {
    font-size: 16px;
  }
}
